$background-color-0: #2b333b;
$background-color-1: #343e48;
$background-color-2: #ff4d4f;
$background-color-3: #ff7875;
$background-color-4: #000000;

$font-color-0: #00bdf2;
$font-color-1: rgba(0, 189, 242, 0.25);
$font-color-2: #fff;
$font-color-3: rgba(255, 255, 255, 0.25);
$font-color-4: rgba(255, 255, 255, 0.65);

$box-shadow-0: 1px 1px 3px rgba(0,0,0,0.6);

$border-color-0: rgba(255,255,255,0.15) rgba(0,0,0,0.6) rgba(0,0,0,0.6) rgba(255,255,255,0.15);
$border-color-1: #ff4d4f;
$border-color-2: #ff7875;
$border-color-3: #00bdf2;

