.checkbox {
  display: inline-block;
  text-align: left;
  padding-left: 1.5em;
  line-height: 1em;

  &::before {
    content: '';
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    position: absolute;
  }

  &.selected {
    &::before {
      font-family: 'iconfont';
      content: '\e607';
    }
  }

  &.disabled,
  &:disabled {
    @include disabled()
  }
}