@mixin disabled() {
  cursor: not-allowed;
  opacity: 0.4;
  box-shadow: none;
}

@mixin scrollBar($scrollbar-bg, $scrollbar-thumb-bg, $scrollbar-thumb-bg-hover, $scrollbar-thumb-bg-active) {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $scrollbar-bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-bg;
    border-radius: 4px;

    &:hover {
      background-color: $scrollbar-thumb-bg-hover;
    }

    &:active {
      background-color: $scrollbar-thumb-bg-active;
    }
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  // ie
  -ms-scrollbar-face-color: $scrollbar-bg;
  -ms-scrollbar-arrow-color: $scrollbar-bg;
  -ms-scrollbar-track-color: $scrollbar-thumb-bg;
  -ms-scrollbar-shadow-color: $scrollbar-bg;
}